
@forward 'componentStyles';
// @forward 'slider';
@forward 'sideBar';
@forward 'reveal-circle';
@forward 'main-background';
// @forward 'slide-2-styles';
// @forward 'slide-3-styles';
@forward 'cards';
@forward 'snake';
@forward 'brands';
@forward 'banner';
@forward 'story-section';
@forward 'message-section';
@forward 'marque';
@forward 'curvedCircle';
@forward 'btn-animation';
// @forward 'modal';
@forward 'error-section';
@forward 'content-page';
@forward 'sliders';
@forward 'stats';
@forward 'visionMission';