@use '../globals/variables.scss' as *;

.brand-slider-wrapper {
  width: 100vw;
  margin-top: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.75781rem;
  // background-color: $white;

  .brand-slider {
    width: 100%;
    display: flex;
    gap: 1.17rem;
    white-space: nowrap;

    .brand-item {
      display: flex;
      min-width: 8.49613rem;
      height: 8.49613rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #EFECDF;
      border-radius: 100%;
      cursor: pointer;
      
      svg{
        width: 100%;
        height: 100%;
      }
    }
  }
}