@use '../globals/variables.scss' as *;

.card-wrapper {
  // Base wrapper styles
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  flex-wrap: wrap;
  // gap: 1rem;

  @media #{$vpTablet991} {
    justify-content: center;
    background: white;
  }

  @media #{$vpMobile600} {
    background: transparent;
  }

  &--style-1 {
    @media #{$vpTablet991} {
      gap: 1.33rem;
    }

    .card-item {
      // Base card item styles
      padding: 1.5rem;
      background-color: $white;
      // flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: 18.8%;
      flex: 0 0 18.8%;
      z-index: 9;

      @media #{$vpTablet991} {
        flex: 0 0 calc(50% - 0.67rem);
        max-width: calc(50% - 0.67rem);
      }

      @media #{$vpMobile767} {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
      }

      @media #{$vpMobile600} {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 3.33rem 2rem;
      }

      &::after {
        content: "";
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        left: -2px;
        top: -2px;
        display: block;
        border: dashed 2px $beije;
        border-style: dashed;
        border-image-source: url("/assets/images/icons/dash-border.png");
        border-image-slice: 1;
        border-image-repeat: round;
        border-image: url("/assets/images/icons/dash-border.png") 1 round;
        filter: brightness(0) saturate(100%) invert(100%) sepia(85%) saturate(265%) hue-rotate(13deg) brightness(108%) contrast(87%);
        z-index: 1;
        opacity: 1;
      }

      &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1.5rem 0;
        height: 100%;
        z-index: 2;
        // min-width: 9.775rem;

        @media #{$vpMobile600} {
          padding: 0;
        }
      }

      &__icon-wrapper {
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;

        @media #{$vpMobile600} {
          width: 3.33rem;
          height: 3.33rem;
          margin-bottom: 2.67rem;
        }

        .card-item__icon {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &__title-wrapper {
        margin-bottom: 1rem;

        .card-item__title {
          font-weight: 600;
          color: $secondaryColor;
          text-transform: uppercase;
          letter-spacing: 0.0225rem;
          font-family: $secondaryFont;
          /*rtl:raw: letter-spacing: 0;*/
        }
      }

      &__description-wrapper {
        .card-item__description {
          color: $charlestonGreen;
          line-height: 1.5;
        }
      }
    }
  }

  &--style-2 {
    position: relative;
    margin-left: -1px;
    // &::after {
    //   content: "";
    //   width: 30%;
    //   height: 110%;
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform: translate(-50%, -50%);
    //   background: $white;
    //   display: block;
    //   z-index: -1;
    // }


    @media #{$vpTablet991} {
      gap: 1.67rem;

      &::after {
        display: none;
      }
    }




    .card-item {
      // Base card item styles
      // flex: 1;
      display: flex;
      flex-direction: column;
      flex: 0 0 calc(25% - 1rem);
      max-width: calc(25% - 1rem);


      @media #{$vpTablet991} {
        flex: 1 1 calc(50% - 0.84rem);
        max-width: calc(50% - 0.84rem);
      }

      @media #{$vpMobile600} {
        flex: 1 1 100%;
        max-width: 100%;
      }


      &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3rem 1.5rem;
        height: 100%;
        position: relative;
        background-color: $white;
        z-index: 1;

        @media #{$vpTablet991} {
          max-width: 25rem;
          padding: 4rem 2rem 5.33rem 2rem;
        }

        @media #{$vpMobile600} {
          max-width: 100%;
        }


        &::after {
          content: "";
          min-height: 100%;
          min-width: 98.3%;
          position: absolute;
          left: 0px;
          top: -2px;
          display: block;
          border: dashed 2px $beije;
          border-style: dashed;
          border-image-source: url("/assets/images/icons/dash-border.png");
          border-image-slice: 1;
          border-image-repeat: round;
          border-image: url("/assets/images/icons/dash-border.png") 1 round;
          filter: brightness(0) saturate(100%) invert(100%) sepia(85%) saturate(265%) hue-rotate(13deg) brightness(108%) contrast(87%);
          opacity: 1;
        }
      }

      &__image-wrapper {
        display: flex;
        width: 11.875rem;
        height: 11.875rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        z-index: 2;

        @media #{$vpTablet991} {
          width: 15.833rem;
          height: 15.833rem;
          margin-bottom: 3.33rem;
        }
      }

      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 11.875rem;
        z-index: 2;
      }

      &__title-wrapper {
        margin-bottom: 1rem;
        z-index: 2;

        @media #{$vpTablet991} {
          margin-bottom: 1.33rem;
        }

        .card-item__title {
          font-weight: 700;
          color: $primaryColor;
          text-transform: uppercase;
          letter-spacing: 0.03rem;
          font-family: $secondaryFont;
          max-width: 14rem;
          /*rtl:raw: letter-spacing: 0;*/

          @media #{$vpTablet991} {
            max-width: 12rem;
          }

          @media #{$vpMobile600} {
            max-width: 100%;
          }

          span {
            display: block;

            @media #{$vpMobile600} {
              display: inline;
            }
          }
        }
      }

      &__description-wrapper {
        z-index: 2;

        .card-item__description {
          color: $charlestonGreen;

          @media #{$vpMobile600} {
            width: 23.5833rem;
            margin: 0 auto;
          }
        }
      }

      &__contact-wrapper {
        margin-top: 1rem;
        z-index: 2;
        min-height: 1.87rem;

        @media #{$vpTablet991} {
          min-height: unset;

          &:not(:has(.card-item__contact)) {
            display: none;
          }
        }

        .card-item__contact {
          color: $brand;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1rem;
          letter-spacing: 0.02rem;
          line-height: 1.3;
          text-decoration: underline !important;
        }
      }
    }
  }
}