@use '../globals/variables.scss' as *;

.curved-text {
  // border: 1px solid red;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31rem;
  height: 31rem;
  border-radius: 50%;
  z-index: -1;
  pointer-events: none;

  @media #{$vpTablet991} {
    width: 30rem;
    height: 30rem;
    top: 10rem;
  }

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0 100%;
    white-space: pre;
    text-transform: uppercase;
    line-height: 1;
    font-family: monospace;
  }

  &.rotate {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media #{$vpTablet991} {
      transform: translateX(-50%);
    }
  }

  &.micro-circle {
    width: 10.25rem;
    height: 10.25rem;
    // background-color: black;
    // animation: spin 24s linear infinite;

    @media #{$vpTablet991} {
      width: 13.66667rem;
      height: 14rem;
    }
  }

  &.mini-circle {
    width: 13.25rem;
    height: 13.25rem;
    // animation: spin 24s linear infinite;

    @media #{$vpTablet991} {
      width: 13.66667rem;
      height: 14rem;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}


.slide-2 {
  .curved-text {
    @media #{$vpTablet991} {
      top: 4rem;
    }
  }
}

.slide-4 {
  .curved-text {
    @media #{$vpTablet991} {
      top: 0rem;
    }
  }
}

.slide-5 {
  .curved-text {
    @media #{$vpTablet991} {
      top: 2rem;
    }
  }
}

.slide-7 {
  .curved-text {
    @media #{$vpTablet991} {
      top: 4rem;
    }
  }
}

.slide-8 {
  .curved-text {
    @media #{$vpTablet991} {
      top: 6rem;
    }
  }
}


.half-shaded-circle {
  position: relative;
  /*rtl:raw: rotate: 180deg;*/

  &:has(.mini-circle) {
    width: 13.25rem;
    height: 13.25rem;

    @media #{$vpTablet991} {
      width: 13.66667rem;
      height: 14rem;
    }
  }

  :has(.micro-circle) {
    width: 10.25rem;
    height: 10.25rem;

    @media #{$vpTablet991} {
      width: 13.66667rem;
      height: 14rem;
    }
  }

  .mini-circle {
    animation: rot360 10s linear infinite;
  }

  // Left canvas — visible only on left half
  .left-half {
    position: absolute;
    top: 0;
    pointer-events: none; // optional
    z-index: 5;
    left: 0;
    clip-path: inset(0 50% 0 0);
  }

  // Right canvas — visible only on right half
  .right-half {
    position: absolute;
    top: 0;
    pointer-events: none; // optional
    z-index: 5;
    right: 0;
    clip-path: inset(0 0 0 50%);
  }

  // Optional smooth fade between halves
  &.blend {
    .left-half {
      clip-path: none;
      mask-image: linear-gradient(to right, black 50%, transparent 100%);
      -webkit-mask-image: linear-gradient(to right, black 50%, transparent 100%);
    }

    .right-half {
      clip-path: none;
      mask-image: linear-gradient(to left, black 50%, transparent 100%);
      -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%);
    }
  }
}


@keyframes rot360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.half-circle-arrow {
  display: none;
}

@media #{$vpTablet991} {

  // .slide-5,
  // .slide-2 {
  //   .curved-text {
  //     background-image: url('/assets/images/svg/circle-en-1.svg');
  //     /*rtl:raw: background-image: url('/assets/images/svg/circle-en-2.svg'); */
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     background-size: cover;
  //   }
  // }

  // .slide-4 {
  //   .curved-text {
  //     background-image: url('/assets/images/svg/circle-en-2.svg');
  //     /*rtl:raw: background-image: url('/assets/images/svg/circle-en-1.svg'); */
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     background-size: cover;
  //   }
  // }

  .half-circle-arrow {
    display: block;
    position: absolute;
    // top: -1.6rem;
    left: 50%;
    transform: translateX(-50%);
    top: -0.5rem;
    width: 32rem;
    height: 32rem;

    svg {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .arrow-en{
      display: block;
      /*rtl:raw: display: none; */
    }
    .arrow-ar{
      display: none;
      /*rtl:raw: display: block; */
    }

  }

  .slide-2 {
    .half-circle-arrow {
      top: 3rem;
    }
  }

  .slide-4 {
    .half-circle-arrow {
      top: -1rem;
    }
  }

  .slide-5 {
    .half-circle-arrow {
      top: 1rem;
    }
  }

}