@use '../globals/variables.scss' as *;

.motion-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*rtl:raw: transform: translate(50%, -50%);*/
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 100%;
  width: 26.5rem;
  height: 26.5rem;
  opacity: 0;
  will-change: width, height, top, left, position;

  @media #{$vpTablet991} {
    width: 23.33rem;
    height: 23.33rem;
  }

  .motion-circle__content {
    position: relative;
    height: auto;
    width: auto;
    overflow: hidden;
    background: center / cover no-repeat;
    aspect-ratio: 1 / 1;
    // overflow: hidden;
    // border-radius: 100%;
    // will-change: transform;

    // &::after{
    //   content: "";
    //   position: relative;
    //   width: 130%;
    //   height: 130%;
    //   display: block;
    //   background: $black;
    //   z-index: 1;
    //   opacity: 0.3;
    //   border-radius: 100%;
    //   // will-change: transform;
    // }

    .motion-circle__background {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }

    .motion-circle__line {
      position: absolute;
      top: 0;

      @media #{$vpMobile600} {
        display: none;
      }

      &:nth-of-type(1) {
        left: 6.12rem;
      }

      &:nth-of-type(2) {
        left: 25.95rem;

        @media #{$vpTablet991} {
          left: 17rem;
        }
      }

      &:nth-of-type(3) {
        left: 50%;
      }

      &:nth-of-type(4) {
        right: 25.95rem;

        @media #{$vpTablet991} {
          right: 17rem;
        }
      }

      &:nth-of-type(5) {
        right: 6.1rem;
      }
    }

    .motion-circle__image {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .motion-circle__image-slices {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;

      .motion-circle__slice {
        position: absolute;
        top: 0;
        height: 100%;
        background-size: 100% 100%;
        background-position: left top;
        clip-path: inset(0% 0% 0% 0%);

        &:nth-of-type(1) {
          left: 0;
          width: 6.12rem;

          @media #{$vpTablet991} {
            width: 6.14rem;
          }

          @media #{$vpMobile600} {
            display: none;
          }
        }

        &:nth-of-type(2) {
          left: 6.1rem;
          width: 19.95rem;

          @media #{$vpTablet991} {
            width: 10.98rem;
          }

          @media #{$vpMobile600} {
            left: 0;
            width: 25.2%;
          }
        }

        &:nth-of-type(3) {
          right: 50%;
          width: 22.15rem;

          @media #{$vpTablet991} {
            width: 10.45rem;
          }

          @media #{$vpMobile600} {
            left: 25%;
            width: 25%;
          }
        }

        &:nth-of-type(4) {
          left: 50%;
          width: 22.15rem;

          @media #{$vpTablet991} {
            width: 10.45rem;
          }

          @media #{$vpMobile600} {
            right: 25%;
            width: 25%;
          }
        }

        &:nth-of-type(5) {
          right: 6.1rem;
          width: 19.9rem;

          
          @media #{$vpTablet991} {
            width: 10.98rem;
          }

          @media #{$vpMobile600} {
            right: 0;
            width: 25.2%;
          }
        }

        &:nth-of-type(6) {
          right: 0;
          width: 6.12rem;
          
          @media #{$vpTablet991} {
            width: 6.14rem;
          }

          @media #{$vpMobile600} {
            display: none;
          }
        }
      }
    }
  }

  .motion-circle__line {
    width: 2px;
    height: 0%;
    background: repeating-linear-gradient(to bottom,
        #191816,
        #191816 16px,
        transparent 12px,
        transparent 28px);

    // background: repeating-linear-gradient(to bottom,
    //     #ff0015,
    //     #ff0015 16px,
    //     transparent 12px,
    //     transparent 28px);

    transform-origin: top;
    z-index: 5;
  }
}

.banner {
  .motion-circle {
    // background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*rtl:raw: transform: translate(50%, -50%);*/
    aspect-ratio: 1 / 1;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    will-change: width, height, top, left, position;
    border-radius: 0%;


    .motion-circle__content {
      position: relative;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
      background: center / cover no-repeat;
      aspect-ratio: 1 / 1;

      &::after{
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;
        // background-color: $black;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
        position: absolute;
        left: 0;
        top: 0;
        // opacity: 0.5;
      }
      
      .motion-circle__background {
        width: 100%;
        // height: auto;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;

        @media #{$vpTablet991} {
          object-fit: cover;
          height: 101vh;
          margin-top: -0.4%;
          width: auto;
        }
      }
    }

    .motion-circle__wrapper{
      clip-path: circle(100% at 50% 50%);
    }
  }
}