@use '../globals/variables.scss' as *;


.story-content__slider-wrapper {
    width: calc(100vw - 1.33rem);
    height: fit-content;
    margin-top: 4rem;
    display: none !important;

    @media #{$vpTablet991} {
        display: block !important;
    }

    &:not(.swiper-initialized) {
        .swiper-slide {
            overflow: hidden;
            width: 36.21%;
            margin-right: 1.33rem;

            // @media #{$vpTablet991} {
            //     width: 36.21%;
            // }

            @media #{$vpMobile600} {
                width: 41.6%;
            }

            &:first-of-type {
                .slide-bg {
                    scale: 1;
                }
            }
        }
    }

    &.viewport-animation {
        .swiper-wrapper {
            .swiper-slide {
                @for $i from 1 through 20 {
                    &:nth-of-type(#{$i}) {
                        transform: translateX(#{(150% + (40% * $i))});
                    }
                }
            }
        }
    }

    .swiper-slide {
        width: auto;
        overflow: hidden;
        transform: translateX(0%);
        transition: all 1.2s ease;

        .slide-bg {
            width: 100%;
            height: 16.33333rem;
            background-size: cover;
            background-position: center center;
            scale: 1.2;
            transition: scale 1.2s ease;
            object-fit: cover;
            object-position: center center;
        }

        &.swiper-slide-active {
            .slide-bg {
                scale: 1;
            }
        }
    }
}

.slider-with-circle {
    width: 100vw;

    @media #{$vpTablet991} {
        padding-inline: 6.12rem;
        padding-bottom: 6.67rem;
        padding-top: 3.33rem;
        width: 100%;
    }

    @media #{$vpMobile600} {
        padding-inline: 2rem !important;
    }

    .swiper-slide {

        &.swiper-slide-active {
            .slider-circle__title {
                margin: 0 !important;
                max-width: 10.25rem !important;

                .slider-circle__title-text {
                    // background: red;
                    display: block !important;
                    overflow: visible !important;
                    -webkit-line-clamp: unset !important;
                    -webkit-box-orient: unset !important;
                }
            }
        }
    }

    .slider-circle__background-title {
        padding-top: 7.5rem;
        max-width: 42.625rem;
        margin: 0 auto;
        margin-bottom: 0.5rem;

        @media #{$vpTablet991} {
            padding-top: 0;
            max-width: 172.5rem;
            margin-left: 0;
            margin-bottom: 2.67rem;
        }


        .title {
            text-transform: uppercase;
            text-align: center;
            color: $primaryColor;

            @media #{$vpTablet991} {
                text-align: left;
            }
        }
    }

    .slider-with-circle-main {
        position: relative;
        width: 100vw;

        @media #{$vpTablet991} {
            width: 100%;
        }

        .slider-circle__background {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;

            @media #{$vpTablet991} {
                display: none;
            }

            .slider-circle__outer {
                width: 31.25rem;
                height: 31.25rem;
                border-radius: 100%;
                left: 50%;
                top: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                border: 6px solid $beije;

                .circle-progress {
                    width: 31.25rem;
                    height: 31.25rem;
                    border-radius: 50%;
                    position: absolute;
                    left: -6px;
                    top: -6px;
                    z-index: -1;
                    background: conic-gradient($black 0% 0%, transparent 0% 100%);
                    transition: all 1s ease;
                    rotate: 180deg;

                    &::after {
                        content: "";
                        width: calc(100% - 12px);
                        height: calc(100% - 12px);
                        position: absolute;
                        left: 6px;
                        top: 6px;
                        display: block;
                        background-color: $white;
                        border-radius: 100%;
                    }
                }

                .slider-circle__inner {
                    width: 27.5rem;
                    height: 27.5rem;
                    border-radius: 100%;
                    overflow: hidden;

                    &--background {
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: all 0.5s ease;
                    }
                }
            }
        }

        .slider-circle__wrapper {
            min-height: 34.375rem;
            display: flex;
            align-items: end;

            .slider-circle__content {
                display: flex;
                transition: all 1.05s ease !important;
                // gap: 1rem;

                @media #{$vpTablet991} {
                    flex-direction: column;
                    gap: 0;
                }

                .slider-circle__item {
                    display: flex;
                    align-items: flex-end;
                    width: fit-content;
                    height: auto;
                    cursor: pointer;

                    @media #{$vpTablet991} {
                        height: 100% !important;

                        &:last-of-type {
                            .slider-circle__item-content {
                                border-bottom: 1px solid $coolGrey;
                            }
                        }
                    }

                    .slider-circle__item-content {
                        // width: 12.5rem;
                        overflow: hidden;
                        padding: 1.5rem;
                        align-items: center;
                        // border: 2px dashed $beije;
                        position: relative;
                        background: $white;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        @media #{$vpTablet991} {
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            padding: 2rem 0;
                            border: none;
                            border-top: 1px solid $coolGrey;
                        }

                        &::after {
                            content: "";
                            min-height: calc(100% - 4px);
                            width: calc(100% - 4px);
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            display: block;
                            border: dashed 2px $beije;
                            border-style: dashed;
                            border-image-source: url("/assets/images/icons/dash-border.png");
                            border-image-slice: 1;
                            border-image-repeat: round;
                            border-image: url("/assets/images/icons/dash-border.png") 1 round;
                            filter: brightness(0) saturate(100%) invert(100%) sepia(85%) saturate(265%) hue-rotate(13deg) brightness(108%) contrast(80%);
                            opacity: 1;
                            pointer-events: none;

                            @media #{$vpTablet991} {
                                display: none;
                            }
                        }


                        .slider-circle__icon {
                            margin-bottom: 1rem;
                            width: 2.5rem;
                            height: 2.5rem;
                            transition: all 0.5s ease 0.3s;

                            @media #{$vpTablet991} {
                                margin: 0;
                                width: 3.33rem;
                                height: 3.33rem;
                            }

                            .slider-circle__icon-img {
                                width: 2.5rem;
                                height: 2.5rem;

                                @media #{$vpTablet991} {
                                    width: 3.33rem;
                                    height: 3.33rem;
                                }
                            }
                        }

                        .slider-circle__title {
                            max-width: 9.5rem;
                            margin: 0 auto;
                            /*rtl:raw: min-height: 3.8rem;*/

                            @media #{$vpTablet991} {
                                max-width: 100%;
                                margin-left: 1.33rem;
                                /*rtl:raw: max-width: 100%;*/
                            }

                            .slider-circle__title-text {
                                text-transform: uppercase;
                                color: $primaryColor;
                                display: -webkit-box;
                                -webkit-line-clamp: 2; // number of lines
                                -webkit-box-orient: vertical;
                                overflow: hidden;

                                @media #{$vpTablet991} {
                                    display: block;
                                    overflow: visible;
                                    font-weight: 700;
                                    -webkit-line-clamp: unset;
                                    -webkit-box-orient: unset;
                                }
                            }
                        }

                        .slider-circle__description {
                            overflow: hidden;
                            position: relative;

                            @media #{$vpTablet991} {
                                width: 100%;
                            }

                            .slider-circle__description-text {
                                margin-top: 1rem;
                                padding-bottom: 0.44rem;
                                width: 17rem;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);

                                @media #{$vpTablet991} {
                                    position: relative;
                                    left: unset;
                                    transform: unset !important;
                                    width: 100%;
                                    text-align: left;
                                    margin-top: 0.67rem;
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}