@use '../globals/variables.scss' as *;

.statistics {
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    padding-bottom: 7.5rem;

    @media #{$vpTablet991} {
        padding-bottom: 0;
    }

    .container {
        @media #{$vpTablet991} {
            padding: 0 !important;
        }
    }
}

.statistics__container {
    background: transparent;
    display: flex;
    width: 100%;
    min-height: 33.4375rem;
    // border: 1px solid blue;

    @media #{$vpTablet991} {
        // min-height: 32.75rem;
        flex-direction: column;
        min-height: 100%;
    }
}

.statistics__tabs {
    flex: 0 0 19.9375rem;
    max-width: 19.9375rem;
    padding: 2.5rem;
    background: white;
    position: relative;
    margin-left: -1px;

    @media #{$vpTablet991} {
        background: white;
        max-width: 100%;
        flex: 0 0 100%;
        padding-block: 0;
        padding-inline: 0;
        // padding-inline: 6.12rem;
    }

    // @media #{$vpMobile600} {
    //     padding-left: 2rem;
    //     padding-right: 2rem;
    // }

    &::after {
        content: "";
        min-height: 99%;
        min-width: 99%;
        position: absolute;
        left: -1px;
        top: 0;
        display: block;
        border: dashed 2px $beije;
        border-style: dashed;
        border-image-source: url("/assets/images/icons/dash-border.png");
        border-image-slice: 1;
        border-image-repeat: round;
        border-image: url("/assets/images/icons/dash-border.png") 1 round;
        filter: brightness(0) saturate(100%) invert(100%) sepia(85%) saturate(265%) hue-rotate(13deg) brightness(108%) contrast(87%);
        opacity: 1;
        pointer-events: none;

        @media #{$vpTablet991} {
            display: none;
        }
    }

    .statistics__tabs__wrapper {
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 100%;

        @media #{$vpTablet991} {
            overflow-x: auto;
            overscroll-behavior-x: contain;
            touch-action: pan-x !important;
            -webkit-overflow-scrolling: touch; // smooth inertial scrolling on iOS`
            justify-content: flex-start; // ensure items align at start
            align-items: flex-end;
            flex-wrap: nowrap; // prevent wrapping -> allow horizontal overflow
            // gap: 2rem;
            flex-direction: row;

            margin-bottom: 2.67rem;

            /* Hide scrollbar (Chrome, Edge, Safari) */
            &::-webkit-scrollbar {
                display: none;
            }

            /* Hide scrollbar (Firefox) */
            scrollbar-width: none;

            /* Hide scrollbar (IE / old Edge) */
            -ms-overflow-style: none;
        }


        .tab-btn {
            background: none;
            border: none;
            text-align: left;
            padding: 0;
            margin: 0;
            margin-bottom: 2rem;
            cursor: pointer;
            transition: color 0.35s ease;
            position: relative;
            color: $BrandGrey;
            font-weight: 700;
            white-space: nowrap;

            @media #{$vpTablet991} {
                margin-bottom: 0;
                flex: 1; // do not shrink, do not grow
                min-width: max-content; // ensure the label stays on one line
                white-space: nowrap;
                scroll-snap-align: start; // works with scroll-snap-type

            }

            &:first-child {
                @media #{$vpTablet991} {
                    padding-left: 6.12rem;
                }

                @media #{$vpMobile600} {
                    padding-left: 2rem;
                }

                .tab-btn-text {

                    padding-inline-start: 0;

                }
            }

            &:last-child {
                margin-bottom: 0;

                @media #{$vpTablet991} {
                    padding-right: 6.12rem;
                }

                @media #{$vpMobile600} {
                    padding-right: 2rem;
                }

                .tab-btn-text {
                    padding-inline-end: 0;
                }
            }

            &.active {
                color: $charlestonGreen;

                @media #{$vpTablet991} {
                    .progress-bar {
                        span {
                            width: 100%;
                            opacity: 1;
                        }
                    }
                }
            }

            &:hover {
                @media #{$vpMinTablet1200} {
                    color: $charlestonGreen;
                }
            }

            .progress-bar {
                position: relative;
                display: block;
                height: 1px;
                width: 100%;
                background: $BrandLightGrey;
                // overflow: hidden;

                span {
                    display: block;
                    height: 100%;
                    width: 0%;
                    background: $primaryColor;
                    transition: width linear;
                    height: 4px;
                    position: relative;
                    bottom: 3px;
                    
                    @media #{$vpTablet991} {
                        bottom: 2px;
                        height: 3px;
                        width: 0%;
                        opacity: 0.2;
                        transition: width 0.6s ease, opacity 0.3s ease;
                    }
                }
            }

            .tab-btn-text {
                font-weight: 700;
                padding: 1rem 0;
                width: 100%;
                display: block;

                @media #{$vpTablet991} {
                    text-align: center;
                    margin-top: 2rem;
                    padding-top: 0;
                    padding-bottom: 2rem;
                    padding-inline: 1rem;
                }
            }
        }
    }
}

.statistics__content {
    overflow: hidden;

    margin-right: 0.25rem;
    margin-inline-start: 1.5rem;
    position: relative;
    // border: 1px solid green;
    background: white;
    width: 100%;

    @media #{$vpTablet991} {
        margin-right: 0rem;
        margin-inline-start: 0;
        height: 100% !important;
        flex: 1;

    }

    &::after {
        content: "";
        min-height: 99%;
        min-width: 100%;
        position: absolute;
        left: 0px;
        top: 0;
        display: block;
        border: dashed 2px $beije;
        border-style: dashed;
        border-image-source: url("/assets/images/icons/dash-border.png");
        border-image-slice: 1;
        border-image-repeat: round;
        border-image: url("/assets/images/icons/dash-border.png") 1 round;
        filter: brightness(0) saturate(100%) invert(100%) sepia(85%) saturate(265%) hue-rotate(13deg) brightness(108%) contrast(87%);
        opacity: 1;
        pointer-events: none;

        @media #{$vpTablet991} {
            display: none;
        }
    }

    .swiper-wrapper {
        display: flex;

        @media #{$vpTablet991} {
            height: 100%;
        }

        .swiper-slide {
            width: fit-content;
            height: auto !important;

            &.chart {
                width: auto !important;

                @media #{$vpTablet991} {
                    width: 100% !important;
                }
            }

            @media #{$vpTablet991} {
                padding-inline: 6.12rem;
                width: 100% !important;
                // height: 100% !important;
            }

            @media #{$vpMobile600} {
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }

    .tab-content {
        margin: 2.5rem;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: opacity 0.6s ease;

        @media #{$vpTablet991} {
            margin: 0;
            opacity: 1;
            position: relative;
            visibility: visible;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        &.active {
            opacity: 1;
            position: relative;
            z-index: 9;
            visibility: visible;
        }

        .content-text {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            @media #{$vpTablet991} {
                flex-direction: row;
                gap: 1.33rem;
                align-items: center;
            }
        }

        .stat-number-wrap {
            display: flex;
            flex-direction: row;
            direction: ltr;

            &.reverse {
                /*rtl:raw:direction: ltr;*/
            }

            span {
                white-space: nowrap;
                color: $primaryColor;
                font-weight: 700;
            }

            .stat-number {
                unicode-bidi: plaintext;
            }

            // .post-text {
            // margin-left: 1rem;
            // }
        }

        .content-num {
            color: $primaryColor;
            font-weight: 700;
            // overflow: hidden;
            text-wrap: nowrap;
        }

        .content-text-item {
            color: $BrandGrey;
            overflow: hidden;

            span {
                color: $charlestonGreen;
                font-weight: 700;
            }

            &.bold {
                color: $charlestonGreen;
                font-weight: 700;
            }
        }

        canvas {
            width: 100%;
            max-height: 17.2rem;
            max-width: 100%;
            margin-top: 1.5rem;
            /*rtl:raw: transform: scaleX(-1);*/

            @media #{$vpTablet991} {
                margin-top: 1rem;
            }
        }

        .image-wrapper {
            margin-top: 1.5rem;
            height: 17.2rem;
            width: 100%;

            @media #{$vpTablet991} {
                margin-top: 1rem;
                height: 16.2rem;
            }

            svg {
                path {
                    width: 100%;
                    height: 100%;
                    // fill: #D6CEC4 !important;
                    // transition: all 1s ease;
                }
            }

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;

                &.desk {
                    display: block;

                    @media #{$vpMobile600} {
                        display: none;
                    }
                }

                &.mob {
                    display: none;

                    @media #{$vpMobile600} {
                        display: block;
                    }
                }
            }
        }
    }

}