@use '../globals/variables.scss' as *;


.story-section {
    position: relative;
    width: 100dvw;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 11.25rem;
    padding-bottom: 11.25rem;
    // border: 1px solid green;

    &.slide-7 {
        padding-top: 5.19rem;
        padding-bottom: 3.75rem;
    }

    &.slide-8 {
        padding-top: 3.75rem;
        padding-bottom: 5.19rem;
    }

    @media #{$vpTablet991} {
        height: auto;

        &.slide-2 {
            // padding-top: 6.67rem;
            // padding-bottom: 12.33rem;
            padding-top: 0.67rem;
            padding-bottom: 6.67rem;
        }

        &.slide-4 {
            // padding-top: 6.67rem;
            // padding-bottom: 1.75rem;
            padding-top: 0;
            padding-bottom: 3.33rem;
        }

        &.slide-5 {
            // padding-top: 6.67rem;
            padding-top: 0;
            padding-bottom: 6.67rem;
        }

        &.slide-7 {
            display: none;
            // padding-top: 6.67rem;
            // padding-bottom: 3.83rem;
            padding-top: 0;
            padding-bottom: 2.67rem;
        }

        &.slide-8 {
            display: none;
            padding-top: 3.33rem;
            padding-bottom: 9.83rem;
        }

    }

    &.height-auto {
        height: auto !important;
    }

    .motion-circle {

        &#slide-4-circle-1 {
            position: absolute;
            width: 27rem;
            height: 27rem;
            opacity: 1;
            left: unset;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            @media #{$vpTablet991} {
                width: 23rem;
                height: 23rem;
                top: 15rem;
            }

        }

        &#slide-5-circle-1 {
            position: absolute;
            width: 27rem;
            height: 27rem;
            opacity: 1;
            left: unset;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);


            @media #{$vpTablet991} {
                width: 23rem;
                height: 23rem;
                top: 17rem;
            }

        }

        &#slide-7-circle-1 {
            position: absolute;
            width: 27rem;
            height: 27rem;
            opacity: 1;
            left: unset;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media #{$vpTablet991} {
                width: 23rem;
                height: 23rem;
                top: 18rem;
            }

        }

        &#slide-8-circle-1 {
            position: absolute;
            width: 27rem;
            height: 27rem;
            opacity: 1;
            left: unset;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media #{$vpTablet991} {
                width: 23rem;
                height: 23rem;
                top: 20rem;
            }

        }
    }


    .story-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        min-height: 34.375rem;

        @media #{$vpTablet991} {
            // background: white;
            min-height: auto;
            flex-direction: column;
            min-width: 100%;
            // align-items: center;
            justify-content: flex-end;
            // gap: 2rem;
            margin-top: calc(32.75rem + 2.67rem);
            // padding-bottom: 12.33rem;
            // text-align: center;
            background: white;
        }


        &__title {
            // max-width: 19.5rem;
            max-width: 19.8125rem;
            width: 100%;
            text-transform: uppercase;
            z-index: -1;
            padding-left: 1.5rem;


            &.pr-1-5 {
                padding-right: 1.5rem;
            }

            @media #{$vpTablet991} {
                max-width: 100%;
                background: $white;
                padding-left: 0;

                &.pr-1-5 {
                    padding-right: 0;
                }
            }

            @media #{$vpMobile600} {
                max-width: 30.0833rem;
            }
        }

        &.title-information {
            align-items: center;

            .story-content__title {
                max-width: 17rem;
                margin-left: 1.5rem;
                padding: 0;

                @media #{$vpTablet991} {
                    max-width: 100%;
                    margin-left: 0;
                    padding: 0;
                }
            }
        }

        &.flex-end {
            justify-content: flex-end;

            .story-content__title {
                max-width: 17rem;
                margin-right: 1.5rem;
                padding-left: 0;

                @media #{$vpTablet991} {
                    max-width: 100%;
                    margin-right: 0;
                    padding-left: 0;
                }

                .story-content__heading {
                    max-width: 17rem;


                    @media #{$vpTablet991} {
                        max-width: 100%;
                    }
                }
            }
        }

        .sm-break {
            @media #{$vpTablet991} {
                width: 20rem;
                margin: 0 auto;
                background-color: $white;
                margin-bottom: 1rem;
            }
        }

        &__heading {
            color: $primaryColor;

            @media #{$vpMobile600} {
                // margin: 0 auto;
                max-width: 23rem;
            }
        }

        &__information {
            margin-top: 1.5rem;
            text-transform: none;
            line-height: 1.5;
            // opacity: 0.8;

            @media #{$vpMobile600} {
                margin: 0 auto;
                margin-top: 2rem;
            }
        }

        &__wrapper {
            // padding-right: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            @media #{$vpTablet991} {
                padding-right: 0;
                padding-top: 2.67rem;
            }

        }

        &__details {
            max-width: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 1.5rem;


            @media #{$vpTablet991} {
                max-width: 100%;
                // margin-bottom: 0;
                gap: 2rem;
                padding-right: 0;
            }

            @media #{$vpMobile600} {
                max-width: 30.0833rem;
            }
        }

        &__item {
            display: flex;
            gap: 1rem;
            max-width: 19.8125rem;
            z-index: -1;
            padding: 0 0.75rem 0 1rem;
            /*rtl:raw: padding: 0 1.5rem;*/

            @media #{$vpTablet991} {
                max-width: 100%;
                background-color: $white;
                padding: 0 !important;

                &.sm-card-style--1 {
                    align-items: center;
                    padding: 0;
                    gap: 1.33rem;
                    position: relative;
                    width: 100%;


                    // &:not(.not-bordered) {
                    //     &::after {
                    //         content: "";
                    //         min-height: 100%;
                    //         min-width: 100%;
                    //         position: absolute;
                    //         left: -2px;
                    //         top: -2px;
                    //         display: block;
                    //         border: dashed 2px $beije;
                    //         border-style: dashed;
                    //         border-image-source: url("/assets/images/icons/dash-border.png");
                    //         border-image-slice: 1;
                    //         border-image-repeat: round;
                    //         border-image: url("/assets/images/icons/dash-border.png") 1 round;
                    //         filter: brightness(0) saturate(100%) invert(92%) sepia(3%) saturate(1773%) hue-rotate(327deg) brightness(106%) contrast(71%);
                    //         z-index: 1;
                    //     }
                    // }

                    .story-content__content {
                        @media #{$vpMobile600} {
                            max-width: 100%;
                        }
                    }
                }
            }


            @media #{$vpMobile600} {
                max-width: 30.0833rem;

                &.sm-card-style--1 {
                    width: 100%;
                    margin: auto;
                }
            }
        }

        &__icon {
            width: 2.5rem;
            height: 2.5rem;
            min-width: 2.5rem;
            min-height: 2.5rem;

            @media #{$vpTablet991} {
                width: 3.33rem;
                height: 3.33rem;
                min-width: 3.33rem;
                min-height: 3.33rem;
            }

            .insvg,
            img {
                width: 100%;
                height: 100%;
            }
        }

        &__btn-wrapper {
            margin-top: 2rem;

            @media #{$vpTablet991} {
                margin-top: 4rem;
            }
        }

        .border {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 99;
            display: none;

            @media #{$vpTablet991} {
                display: block;
            }

            svg {
                width: 100%;
                height: 100%;

                rect {
                    fill: transparent;
                    stroke: #EFECDF;
                    // stroke:  rgb(255, 0, 0);
                }
            }
        }

        &__btn {
            display: flex;
            gap: 0.75rem;
            align-items: center;
            width: fit-content;
            border: none;
            background-color: transparent;
            cursor: pointer;

            @media #{$vpTablet991} {
                margin: 0 auto;
                // background-color: $white;
                padding: 1.334rem 3.1rem;
                gap: 1rem;
                border-radius: 833.25rem;
                position: relative;
                min-height: 5.3333rem;
                justify-content: center;


                &::after {
                    content: "";
                    min-height: calc(100% - 0.88rem);
                    min-width: calc(100% - 0.88rem);
                    position: absolute;
                    left: 0.44rem;
                    top: 0.44rem;
                    display: block;
                    background-color: $white;
                    border-radius: 833.25rem;
                    z-index: -9999;
                }
            }
        }

        &__btn-title {
            color: $brand;
            text-transform: uppercase;
            line-height: 150%;
            margin-bottom: -0.1rem;
        }

        &__btn-icon-wrapper {
            width: 0.66667rem;
            height: 2rem;
            aspect-ratio: 10/9;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            @media #{$vpTablet991} {
                width: 0.5rem;
                height: 0.75rem;
            }
        }


        &__btn-icon {
            height: 100%;
            width: 100%;
            // aspect-ratio: 10/9;
            padding: 0.25rem 0;

            @media #{$vpTablet991} {
                padding: 0.25rem 0;
            }
        }

        .story-content__text {
            span {
                font-weight: 700;
            }
        }
    }

    &.slide-2 {
        .story-content__wrapper {
            @media #{$vpTablet991} {
                padding-top: 2rem;
            }

            .story-content__item {
                padding-inline: 1.5rem;
            }
        }

        .story-content__btn-wrapper {
            @media #{$vpTablet991} {
                margin-top: 2.33rem;
            }
        }
    }

    &.slide-4 {
        height: auto !important;
        padding-block: 2.5rem !important;
        padding-inline: 0 !important;

        @media #{$vpTablet991} {
            padding-block: 0 !important;
        }

        .story-content {
            min-height: 34.375rem !important;
            align-items: center;

            @media #{$vpTablet991} {
                align-items: flex-start;
                min-height: auto !important;
            }

            .story-content__title {

                @media #{$vpTablet991} {
                    padding-bottom: 1.33rem !important;
                }

                .story-content__heading {
                    max-width: 100%;
                }
            }
        }
    }

    &.slide-5 {

        .story-content {

            .story-content__title {

                .story-content__heading {
                    @media #{$vpMobile600} {
                        max-width: 17.25rem;
                    }
                }
            }
        }
    }
}