@use './variables' as *;

// =======================================
// Note: Write global scss styles below
// =======================================

* {
  box-sizing: border-box;
}

html {
  font-weight: normal;
  height: 100%;
  direction: ltr;
  width: 100%;
  font-size: 1.041666667vw;
  overflow-x: hidden;
  scroll-behavior: auto;
  touch-action: pan-x;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @media #{$vpDesktop1680} {
    font-size: 1.111111111vw;
  }

  @media #{$vpDesktop1280} {
    font-size: 1.09375vw;
  }

  @media #{$vpTablet991} {
    // font-size: 1.41271443vw;
    font-size: 1.822916667vw;
  }

  @media #{$vpMobile600} {
    font-size: 3.076923077vw;
  }
}



body {
  position: relative;
  margin: 0;
  -webkit-text-size-adjust: none !important;
  box-sizing: border-box;
  font-size: 1.041666667vw;
  overflow: hidden;
  scroll-behavior: auto;
  touch-action: pan-x;
  color: $charlestonGreen;
  top: 0;


  @media #{$vpDesktop1680} {
    font-size: 1.111111111vw;
  }

  @media #{$vpDesktop1280} {
    font-size: 1.09375vw;
  }

  @media #{$vpTablet991} {
    font-size: 1.41271443vw;
  }

  @media #{$vpMobile600} {
    font-size: 3.076923077vw;
  }
}


.container {
  padding-inline: 6.12rem;
  width: 100vw;

  // @media #{$vpTablet991} {
  //   padding-left: 2.5rem;
  //   padding-right: 2.5rem;
  // }

  @media #{$vpMobile600} {
    // padding-left: 1.33rem;
    // padding-right: 1.33rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &--left {
    padding-left: 6.12rem;

    @media #{$vpMobile600} {
      padding-left: 2rem;
    }
  }

  &--right {
    padding-right: 6.12rem;

    @media #{$vpMobile600} {
      padding-right: 2rem;
    }
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  color: $white;
  cursor: pointer;
  outline: none !important;
  text-decoration: none !important;
}

.sec-padded {
  padding: 10rem 0;

  @media #{$vpMobile600} {
    padding: 3.75rem 0;

  }

  &--top {
    padding: 10rem 0 0;

    @media #{$vpMobile600} {
      padding: 3.75rem 0 0;
    }
  }

  &--bottom {
    padding: 0 0 10rem 0;

    @media #{$vpMobile600} {
      padding: 0 0 3.75rem 0;
    }
  }
}

#smooth-wrapper {
  position: fixed;
  inset: 0;
  /* top: 0; right: 0; bottom: 0; left: 0; */
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#smooth-content {
  position: relative;
  min-height: 100%;
  overflow: visible;
  will-change: transform;
  /* smoother animates with transforms */
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.vh-100 {
  width: 100dvw;
  height: 100svh;
  position: relative;

  @media #{$vpTablet991} {
    height: auto;
  }
}

.section_background {
  width: 100vw;
}

.d-none{
  display: none !important;
  visibility: hidden;
}