@use './variables' as *;

p {
  margin-block: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 0;

  /*rtl:raw: line-height: 1.6;*/
  @media #{$vpTablet991} {
    font-size: 1.5rem;
  }
}

.body1 {
  font-size: 1.25rem;
  // line-height: 1.3; //Typography
  line-height: 1.5; //in Design
  font-weight: 400;

  /*rtl:raw: line-height: 1.6;*/
  @media #{$vpTablet991} {
    font-size: 1.5rem;
  }
}

.body2 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  /*rtl:raw: line-height: 1.6;*/
  @media #{$vpTablet991} {
    font-size: 1.333rem;
  }
}

.body3 {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;

  @media #{$vpTablet991} {
    font-size: 1.16rem;
  }
}

.cursor {
  font-size: 0.75rem;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0.06rem;
  /*rtl:raw: letter-spacing: 0;*/
}

.btn-label {
  font-size: 1rem;
  line-height: 1.4;
  // font-weight: 400;
  font-weight: 500;
  letter-spacing: 0.14rem;
  /*rtl:raw: letter-spacing: 0;*/
  font-family: $secondaryFont;


  @media #{$vpTablet991} {
    font-size: 1.1667rem;
  }
}

.numbers {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.1rem;
  font-family: $secondaryFont;

  @media #{$vpTablet991} {
    font-size: 4.6rem;
    letter-spacing: -0.09333rem;
  }

  @media #{$vpMobile600} {
    font-size: 3.33333rem;
  }

}

.curve {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;

  @media #{$vpTablet991} {
    font-size: 1.6rem;
  }
}

i {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

p,
.body1,
.body2,
.body3,
.cursor {
  font-family: $primaryFont;

  [dir="rtl"] & {
    font-family: $secondaryFont;
  }
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
.heading1,
.heading2,
.heading3,
.heading4,
.heading5,
.heading6 {
  margin: 0;
  font-family: $secondaryFont;

  [dir="rtl"] & {
    font-family: $secondaryFont;
  }

}

h1,
.heading1 {
  // font-size: 7.75rem;
  // line-height: 1.2;
  // letter-spacing: 0.155rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.12rem;
  /*rtl:raw: letter-spacing: 0;*/
  /*rtl:raw: line-height: 1.6;*/

  @media #{$vpTablet991} {
    font-size: 3.3rem;
    letter-spacing: 0rem;
    /*rtl:raw: letter-spacing: 0;*/
  }
}

h2,
.heading2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.08rem;

  /*rtl:raw: line-height: 1.6;*/
  /*rtl:raw: letter-spacing: 0;*/
  @media #{$vpTablet991} {
    font-size: 3rem;
    letter-spacing: 0.06rem;
  }
}

h3,
.heading3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.06rem;

  /*rtl:raw: letter-spacing: 0;*/
  /*rtl:raw: line-height: 1.6;*/
  @media #{$vpTablet991} {
    font-size: 2.6rem;
    letter-spacing: 0rem;
  }
}

h4,
.heading4 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05rem;

  /*rtl:raw: line-height: 1.4;*/
  /*rtl:raw: letter-spacing: 0;*/
  @media #{$vpTablet991} {
    letter-spacing: 0.04rem;
    font-size: 2rem;
  }
}

h5,
.heading5 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;

  /*rtl:raw: line-height: 1.7;*/
}

h6,
.heading6 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4;

  /*rtl:raw: line-height: 1.6;*/
}

.heading7 {
  // font-size: 1.25rem;  //Typography
  font-size: 1.125rem; // in Design
  // font-weight: 400; //Typography
  font-weight: 500; // in Design
  line-height: 1.4;

  /*rtl:raw: line-height: 1.7;*/

  @media #{$vpTablet991} {
    font-size: 1.33333rem;
  }

}