$primaryFont: 'ABCFavoritCondensed';
$secondaryFont: 'ABCFavoritArabic';

// Set Colors
$white: #FFFFFF;
$black: #000000;
$primaryColor: #0C0608;
$secondaryColor: #191816;
$beije:#EFECDF;
$brand:#E61717;
$cultured: #F4F4F5;
$charlestonGreen: #26272B;
$Grey8: #FAFAFA;
$mutedBrown: #DAD1C7;
$BrandGrey: #78818B;
$BrandLightGrey: #C7C8CA;
$coolGrey: #DCDDE1;
$Grey3: #70707B;

// Media Queries
$vpDesktop1919: '(max-width:1919px)';
$vpDesktop1680: '(max-width:1680px)';
$vpDesktop1440: '(max-width:1440px)';
$vpDesktop1280: '(max-width:1280px)';
$vpTablet1200: '(max-width:1200px)';
$vpTablet1199: '(max-width:1199px)';
$vpTablet1024: '(max-width:1024px)';
$vpTablet991: '(max-width:991px)';
$vpMobile767: '(max-width:767px)';
$vpMobile600: '(max-width:600px)';
$vpMinTablet768: '(min-width:768px)';
$vpMinMobile600: '(min-width:600px)';
$vpMinTablet1200: '(min-width:1200px)';