<div class="header--wrapper">
  <div class="container">
    <div class="header-box">
      <div class="logo-box">
        <a href="{{currentURL}}"><img src="/assets/images/brand/logo.svg" alt="Naseej Logo" class="js-tosvg" /></a>
      </div>
      <div class="menu-box">
        <a class="btn-label culture" href="{{sideBarSection.navLangHref}}">{{sideBarSection.navLangEN}}</a>

        <div class="menu-toggle">
          <img src="/assets/images/icons/ic-menu-toggle.svg" alt="toggle" class="js-tosvg close">
          <img src="/assets/images/icons/ic-toggle-close.svg" alt="toggle" class="js-tosvg open">
        </div>
      </div>
    </div>

    <div class="menu-items">
      <a href="javascript:;" class="heading4 item" data-target="slide-2"><span>01</span><span>{{menuItems.item1.title}}</span></a>
      <a href="javascript:;" class="heading4 item" data-target="slide-3"><span>02</span><span>{{menuItems.item2.title}}</span></a>
      <a href="javascript:;" class="heading4 item" data-target="slide-6"><span>03</span><span>{{menuItems.item3.title}}</span></a>
      <a href="javascript:;" class="heading4 item" data-target="slide-9"><span>04</span><span>{{menuItems.item4.title}}</span></a>
      <a href="javascript:;" class="heading4 item" data-target="slide-12"><span>05</span><span>{{menuItems.item5.title}}</span></a>
    </div>
  </div>
  <div class="menu-overlay"></div>
</div>