<div class="partners-wrapper">
  <div class="content-wrapper">
    <div class="js-commitmentWrapper">
        <div class="marquee" style="--marquee-count: 6; --marquee-speed: 50">
          <div class="text-card marquee__item" style="--marquee-item-index: 0">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner1.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 1">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner2.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 2">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner3.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 3">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner4.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 4">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner5.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 5">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner6.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 6">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner7.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 7">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner8.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 8">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner6.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 9">
            <div class="brand-item">
              <img src="/assets/images/partners/ic-partner1.svg" alt="logo" class="js-tosvg">
            </div>
          </div>
        </div>
    </div>
    <div class="js-commitmentWrapper">
      <div class="marquee" style="--marquee-count: 6; --marquee-speed: 50">
        <div class="text-card marquee__item" style="--marquee-item-index: 0">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner8.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 1">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner7.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 2">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner6.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 3">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner5.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 4">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner4.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 5">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner3.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 6">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner2.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 7">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner1.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 8">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner6.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 9">
          <div class="brand-item">
            <img src="/assets/images/partners/ic-partner4.svg" alt="logo" class="js-tosvg">
          </div>
        </div>
      </div>
  </div>

  </div>
</div>
