<div class="siderBar--wrapper">
  <div class="postBox">
    <div class="patternBox">
      <!-- <img src="/assets/images/patterns/side-pattern.png" alt="" /> -->

      <div class="scrollBox">
        <div class="postBox">
          <img src="/assets/images/icons/ic-mouse.svg" alt="scroll Down Icon" class="js-tosvg ic-mouse" />
          <p class="cursor">{{sideBarSection.scrollDownText}}</p>
        </div>
      </div>

      <div class="page-listing">
        <ul>
          <li class="active" data-target="slide-2">
            <a href="javaScript:void(0);" class="cursor">01</a>
          </li>
          <li data-target="slide-3">
            <a href="javaScript:void(0);" class="cursor">02</a>
          </li>
          <li data-target="slide-6">
            <a href="javaScript:void(0);" class="cursor">03</a>
          </li>
          <li data-target="slide-9">
            <a href="javaScript:void(0);" class="cursor">04</a>
          </li>
          <li data-target="slide-12">
            <a href="javaScript:void(0);" class="cursor">05</a>
          </li>
        </ul>
      </div>

      <div class="lang-switch">
        <a class="cursor" href="{{sideBarSection.navLangHref}}">{{sideBarSection.navLangEN}}</a>
      </div>
    </div>
  </div>
</div>