<div class="slide-3 message-section only-heading" id="slide-3">
  <!-- <div class="snake-wrapper">
    <canvas class="snakeCanvas" width="2300" height="900" data-text="{{messageSection.messageSnakeText}}"></canvas>
  </div> -->

  <!-- <div class="motion-circle bottom-right" id="slide-3-circle-2">
    <div class="motion-circle__wrapper">
      <div class="motion-circle__content">
        <img src="/assets/images/thumbnails/circle-2.webp" alt="circle-one" class="motion-circle__background">
      </div> 
    </div>
  </div> -->

  <div class="container">
    <div class="message-section-wrapper">
      <div class="message-slide-wrapper message-0">
        <div class="slide-heading two-layer-text two-layer-text">
          <h2 class="heading1 slide-heading__title dark animate-text-left hedingTitle heading1">{{messageSlide.heading1}}</h2>
          <h2 class="heading1 slide-heading__title dark animate-text-right hedingTitle heading1">{{messageSlide.heading2}}</h2>
        </div>
      </div>
    </div>
  </div>

</div>