<section class="slide-11 flex-center" id="slide-11">
  <div class="container">

    <div class="content-wrapper">
      <div class="message-slide-wrapper">
        <div class="slide-heading two-layer-text" data-animate="fade-in" data-scrub="true">
          <h2 class="heading2 slide-heading__title dark hedingTitle">{{stakeholdersSection.heading}}</h2>
        </div>
      </div>

      <div class="section-description" data-animate="fade-in" data-scrub="true">
        <p class="body1 description">{{stakeholdersSection.description}}</p>
      </div>
    </div>
    <div class="card-wrapper card-wrapper--style-2">
      <div class="card-item">
        <div class="card-item__content">
          <div class="card-item__image-wrapper">
            <img src="{{stakeholdersSection.cards.communities.image}}"
              alt="{{stakeholdersSection.cards.communities.alt}}" loading="lazy" class="card-item__image" />
          </div>
          <div class="card-item__title-wrapper">
            <h3 class="card-item__title heading6">
              {{{stakeholdersSection.cards.communities.title}}}
            </h3>
          </div>
          <div class="card-item__description-wrapper">
            <p class="card-item__description body2">
              {{stakeholdersSection.cards.communities.description}}
            </p>
          </div>
          <div class="card-item__contact-wrapper">
            <a href="mailto:{{stakeholdersSection.cards.communities.contact}}"
              class="card-item__contact">{{stakeholdersSection.cards.communities.contact}}</a>
          </div>
        </div>
      </div>

      <div class="card-item">
        <div class="card-item__content">
          <div class="card-item__image-wrapper">
            <img src="{{stakeholdersSection.cards.industries.image}}" loading="lazy" alt="{{stakeholdersSection.cards.industries.alt}}"
              class="card-item__image" />
          </div>
          <div class="card-item__title-wrapper">
            <h3 class="card-item__title heading6">
              {{{stakeholdersSection.cards.industries.title}}}
            </h3>
          </div>
          <div class="card-item__description-wrapper">
            <p class="card-item__description body2">
              {{stakeholdersSection.cards.industries.description}}
            </p>
          </div>
          <div class="card-item__contact-wrapper">
            <a href="mailto:{{stakeholdersSection.cards.industries.contact}}"
              class="card-item__contact">{{stakeholdersSection.cards.industries.contact}}</a>
          </div>
        </div>
      </div>

      <div class="card-item">
        <div class="card-item__content">
          <div class="card-item__image-wrapper">
            <img src="{{stakeholdersSection.cards.researchersAndMedia.image}}"
              alt="{{stakeholdersSection.cards.researchersAndMedia.alt}}" loading="lazy" class="card-item__image" />
          </div>
          <div class="card-item__title-wrapper">
            <h3 class="card-item__title heading6">
              {{{stakeholdersSection.cards.researchersAndMedia.title}}}
            </h3>
          </div>
          <div class="card-item__description-wrapper">
            <p class="card-item__description body2">
              {{stakeholdersSection.cards.researchersAndMedia.description}}
            </p>
          </div>
          <div class="card-item__contact-wrapper">
            <a href="mailto:{{stakeholdersSection.cards.researchersAndMedia.contact}}"
              class="card-item__contact">{{stakeholdersSection.cards.researchersAndMedia.contact}}</a>
          </div>
        </div>
      </div>

      <div class="card-item">
        <div class="card-item__content">
          <div class="card-item__image-wrapper">
            <img src="{{stakeholdersSection.cards.media.image}}" loading="lazy" alt="{{stakeholdersSection.cards.media.alt}}"
              class="card-item__image" />
          </div>
          <div class="card-item__title-wrapper">
            <h3 class="card-item__title heading6">
              {{{stakeholdersSection.cards.media.title}}}
            </h3>
          </div>
          <div class="card-item__description-wrapper">
            <p class="card-item__description body2">
              {{stakeholdersSection.cards.media.description}}
            </p>
          </div>
          <div class="card-item__contact-wrapper">
            <a href="mailto:{{stakeholdersSection.cards.media.contact}}"
              class="card-item__contact">{{stakeholdersSection.cards.media.contact}}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  {{> your-role }}
</section>