<div class="slide-7 story-section height-auto" id="slide-7">

  <div class="motion-circle" id="slide-7-circle-1">
    <div class="motion-circle__wrapper">
      <div class="motion-circle__content">
        <!-- <video class="motion-circle__background" src="/assets/videos/circle-1-bg.mp4" autoplay muted loop
          playsinline></video> -->
        <img src="{{ourVisionSection.image}}" alt="circle-one" loading="lazy" class="motion-circle__background">
      </div>
    </div>
  </div>

  <canvas data-text='{{ourVisionSection.ourVisionContentCircleText}}' class="curved-text rotate"></canvas>


  <div class="container">
    <!-- <div class="sec-padded"> -->
    <div class="story-content title-information" data-animate="fade-in" data-scrub="true">
      <div class="story-content__title">
        <h3 class="story-content__heading heading4">{{ourVisionSection.ourVisionHeading}}</h3>
        <p class="story-content__information body1">{{{ourVisionSection.ourVisionDescription}}}</p>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>