<div class="slide-4 story-section" id="slide-4">
  <div class="half-circle-arrow">
    <img src="/assets/images/svg/circle-1-en.svg" alt="half-circle-arrow" class="js-tosvg arrow-en">
    <img src="/assets/images/svg/circle-1-ar.svg" alt="half-circle-arrow" class="js-tosvg arrow-ar">
  </div>
  <canvas data-text='{{storyContentSection.storyContentCircleText}}' class="curved-text rotate"></canvas>
  <div class="motion-circle" id="slide-4-circle-1">
    <div class="motion-circle__wrapper">
      <div class="motion-circle__content">
        <!-- <video class="motion-circle__background" src="/assets/videos/circle-1-bg.mp4" autoplay muted loop
          playsinline></video> -->
        <img src="{{storyContentSection.image}}" loading="lazy" alt="circle-one" class="motion-circle__background">
      </div>
    </div> 
  </div>


  <div class="container">
    <div class="story-content" data-animate="fade-in" data-scrub="true">
      <div class="story-content__title">
        <h3 class="story-content__heading heading4">{{storyContentSection.storyContentHeading}}</h3>
      </div>
      <!-- <div class="story-content__wrapper"> -->
        <!-- <div class="story-content__details">
          <div class="story-content__item sm-card-style--1">
            <div class="story-content__icon">
              <img src="{{storyContentSection.storyContentIcon2}}" alt="recycle" class="js-tosvg">
            </div>
            <div class="story-content__content">
              <p class="story-content__text body2">
                {{storyContentSection.storyContentDescription2}}
              </p>
            </div>
          </div>

          <div class="story-content__item sm-card-style--1">
            <div class="story-content__icon">
              <img src="{{storyContentSection.storyContentIcon3}}" alt="bag" class="js-tosvg">
            </div>
            <div class="story-content__content">
              <p class="story-content__text body2">
                {{storyContentSection.storyContentDescription3}}
              </p>
            </div>
          </div>
        </div> -->

        <!-- <div class="story-content__btn-wrapper">
          <button class="open-btn story-content__btn hover-animate-btn--x" data-modal="modal2">
            <p class="story-content__btn-title btn-label">{{storyContentSection.storyContentCta.text}}</p>
            <div class="story-content__btn-icon-wrapper">
              <img src="/assets/images/icons/ic-arrow-head.svg" alt="arrow" class="js-tosvg story-content__btn-icon">
            </div>


            <div class="border">
              <svg class="dash" viewBox="0 0 100 40" width="100%" height="100%" aria-hidden="true"
                preserveAspectRatio="none">
                <rect x="1.5" y="1.5" width="97" height="37" rx="14" ry="14" fill="none" stroke="currentColor"
                  stroke-width="1" stroke-linecap="round" stroke-dasharray="10 15" vector-effect="non-scaling-stroke" />
              </svg>
            </div>
          </button>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>

{{> stats-component }}