<div class="slider-with-circle js-slider-with-circle">
  <div class="slider-circle__background-title">
    <h4 class="title heading4">{{foundationPillarsSection.mainHeading}}</h4>
  </div>

  <div class="slider-with-circle-main">
    <div class="slider-circle__background">
      <div class="slider-circle__outer">
        <div class="circle-progress">
        </div>
        <div class="slider-circle__inner slider-circle__inner--background js-slider-with-circle-background"></div>
      </div>
    </div>


    <div class="slider-circle__wrapper swiper-container">
      <div class="slider-circle__content swiper-wrapper">

        <div class="slider-circle__item active swiper-slide">
          <div class="slider-circle__item-content">
            <div class="slider-circle__icon">
              <img src="{{foundationPillarsSection.collection_and_recycling.icon}}" alt="Collection & recycling icon"
                class="slider-circle__icon-img js-tosvg">
            </div>
            <div class="slider-circle__title">
              <h5 class="slider-circle__title-text heading7">{{foundationPillarsSection.collection_and_recycling.title}}</h5>
            </div>
            <div class="slider-circle__description">
              <p class="slider-circle__description-text body2">{{foundationPillarsSection.collection_and_recycling.description}}</p>
            </div>
          </div>
        </div>

        <div class="slider-circle__item swiper-slide">
          <div class="slider-circle__item-content">
            <div class="slider-circle__icon">
              <img src="{{foundationPillarsSection.community_awareness.icon}}" alt="Community awareness icon"
                class="slider-circle__icon-img js-tosvg">
            </div>
            <div class="slider-circle__title">
              <h5 class="slider-circle__title-text heading7">{{foundationPillarsSection.community_awareness.title}}</h5>
            </div>
            <div class="slider-circle__description">
              <p class="slider-circle__description-text body2">{{foundationPillarsSection.community_awareness.description}}</p>
            </div>
          </div>
        </div>

        <div class="slider-circle__item swiper-slide">
          <div class="slider-circle__item-content">
            <div class="slider-circle__icon">
              <img src="{{foundationPillarsSection.market_intelligence.icon}}" alt="market intelligence icon"
                class="slider-circle__icon-img js-tosvg">
            </div>
            <div class="slider-circle__title">
              <h5 class="slider-circle__title-text heading7">{{foundationPillarsSection.market_intelligence.title}}</h5>
            </div>
            <div class="slider-circle__description">
              <p class="slider-circle__description-text body2">{{foundationPillarsSection.market_intelligence.description}}</p>
            </div>
          </div>
        </div>

        <div class="slider-circle__item swiper-slide">
          <div class="slider-circle__item-content">
            <div class="slider-circle__icon">
              <img src="{{foundationPillarsSection.policies_and_regulations.icon}}" alt="Policies & regulations icon"
                class="slider-circle__icon-img">
            </div>
            <div class="slider-circle__title">
              <h5 class="slider-circle__title-text heading7">{{foundationPillarsSection.policies_and_regulations.title}}</h5>
            </div>
            <div class="slider-circle__description">
              <p class="slider-circle__description-text body2">{{foundationPillarsSection.policies_and_regulations.description}}</p>
            </div>
          </div>
        </div>

        <div class="slider-circle__item swiper-slide">
          <div class="slider-circle__item-content">
            <div class="slider-circle__icon">
              <img src="{{foundationPillarsSection.circular_business.icon}}" alt="Circular business icon"
                class="slider-circle__icon-img">
            </div>
            <div class="slider-circle__title">
              <h5 class="slider-circle__title-text heading7">{{foundationPillarsSection.circular_business.title}}</h5>
            </div>
            <div class="slider-circle__description">
              <p class="slider-circle__description-text body2">{{foundationPillarsSection.circular_business.description}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="d-none js-slider-with-circle-images">
    <img src="{{foundationPillarsSection.collection_and_recycling.image}}" loading="lazy" alt="none">
    <img src="{{foundationPillarsSection.community_awareness.image}}" loading="lazy" alt="none">
    <img src="{{foundationPillarsSection.market_intelligence.image}}" loading="lazy" alt="none">
    <img src="{{foundationPillarsSection.policies_and_regulations.image}}" loading="lazy" alt="none">
    <img src="{{foundationPillarsSection.circular_business.image}}" loading="lazy" alt="none">
  </div>
</div>