<div class="slide-6 message-section " id="slide-6">
  <div class="snake-wrapper">
    <canvas class="snakeCanvas" width="2300" height="900"
      data-text="{{messageTextileCarrySection.messageTextileCarrySnakeText}}"></canvas>
  </div>


  <!-- <div class="motion-circle top-right" id="slide-6-circle-1">
    <div class="motion-circle__wrapper">
      <div class="motion-circle__content">
        <img src="/assets/images/thumbnails/circle-4.webp" alt="circle-one" class="motion-circle__background">
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="message-section-wrapper">
      <div class="message-slide-wrapper message-0">
        <div class="slide-heading three-layer-text center-right-txt">
          {{{messageTextileCarrySection.messageTextileCarryHeading}}}
        </div>
      </div>

      <div class="message-content-wrapper">
        <p class="message-content__text body1" data-animate="fade-in" data-scrub="true">
          {{{messageTextileCarrySection.messageTextileCarryDescription}}}
        </p>
      </div>
    </div>
  </div>

</div> 