<div class="story-content__slider-wrapper sick-slider swiper js-simple-slider viewport-animation">
  <div class="swiper-wrapper">
    
    <div class="swiper-slide">
      <img src="{{ storySlider.slide1 }}" alt="slide 1 image" class="slide-bg">
    </div>

    <div class="swiper-slide">
      <img src="{{ storySlider.slide2 }}" alt="slide 2 image" class="slide-bg">
    </div>

    <div class="swiper-slide">
      <img src="{{ storySlider.slide3 }}" alt="slide 3 image" class="slide-bg">
    </div>

  </div>
</div>