<section class="slide-12 sec-commitment" id="slide-12">
  <div class="container">
    <div class="content-wrapper">
      <div class="message-slide-wrapper message-0">
        <div class="slide-heading two-layer-text" data-animate="fade-in" data-scrub="true">
          {{{commitmentSection.heading}}}
        </div>
      </div>

      <div class="section-description" data-animate="fade-in" data-scrub="true">
        <p class="body1 description">{{commitmentSection.description}}</p>
      </div>
    </div>
    <div class="entities-heading-wrapper" data-animate="fade-in" data-scrub="true">
      <h6 class="heading6 entities-heading">{{commitmentSection.entitiesHeading}}</h6>
    </div>
    <div class="partners-box">
      <div class="postBox">
        <div class="sec-logo">
          <img src="{{commitmentSection.partners.staticLogos.partner3.image}}"
            alt="{{commitmentSection.partners.staticLogos.partner3.alt}}" class="js-tosvg" />
        </div>
        <div class="sec-logo">
          <img src="{{commitmentSection.partners.staticLogos.partner1.image}}"
            alt="{{commitmentSection.partners.staticLogos.partner1.alt}}" class="js-tosvg" />
        </div>
        <div class="sec-logo">
          <img src="{{commitmentSection.partners.staticLogos.partner2.image}}"
            alt="{{commitmentSection.partners.staticLogos.partner2.alt}}" class="js-tosvg" />
        </div>
      </div>
    </div>
    <div class="partners-heading-wrapper" data-animate="fade-in" data-scrub="true">
      <h6 class="heading6 partners-heading">{{commitmentSection.partnersHeading}}</h6>
    </div>
  </div>
  <div class="partners-wrapper">
    <div class="content-wrapper1">
      <div class="js-commitmentWrapper">
        <div class="marquee" style="--marquee-count: 6; --marquee-speed: 50">
          <div class="text-card marquee__item" style="--marquee-item-index: 0">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo1.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 1">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo2.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 2">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo3.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 3">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo4.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 4">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo5.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 5">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo6.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 6">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo7.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 7">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo8.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div>

          <!-- <div class="text-card marquee__item" style="--marquee-item-index: 8">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo1.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div>
          <div class="text-card marquee__item" style="--marquee-item-index: 9">
            <div class="brand-item">
              <img src="{{commitmentSection.partners.marqueeLogosTop.logo2.image}}" alt="logo" class="js-tosvg" />
            </div>
          </div> -->


        </div>
      </div>
    </div>
    <div class="js-commitmentWrapper">
      <div class="marquee" style="--marquee-count: 6; --marquee-speed: 50">
        <div class="text-card marquee__item" style="--marquee-item-index: 0">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo9.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 1">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo10.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 2">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo11.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 3">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo12.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 4">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo13.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 5">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo14.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 6">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo15.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 7">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo16.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 8">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo17.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
        <div class="text-card marquee__item" style="--marquee-item-index: 9">
          <div class="brand-item">
            <img src="{{commitmentSection.partners.marqueeLogosBottom.logo18.image}}" alt="logo" class="js-tosvg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>